<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>
    <timestamp key="LOG_DATE" datePattern="yyyyMMdd"/>
    <property name="LOG_FILE" value="/Users/tomo/Documents/9_java_working_space/personalTweeting/log/HeloController.log" />
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <file>${LOG_FILE}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- ログファイル名の後ろに日付をつけてログをローテーションします。 -->
            <fileNamePattern>${LOG_FILE}.%d{yyyyMMdd}</fileNamePattern>
            <!-- ５つのバックアップを作成するように設定します。 -->
            <maxHistory>1</maxHistory>
        </rollingPolicy>
    </appender>
    <root level="TRACE">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
</configuration>